<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="global.css" />
    <title>Remote Message Display</title>
  </head>
  <body class="bg-black font-mono">
    <div class="max-w-md mx-auto sm:mt-10 p-6">
      <form action="/" method="post">
        <div class="mb-4">
          <label
            for="message"
            class="block bg-black text-phosphorGreen font-bold mb-2"
          >
            Enter your message:
          </label>
          <input
            type="text"
            id="message"
            name="message"
            class="border border-phosphorGreen bg-black text-phosphorGreen p-2 w-full rounded-md"
          />
        </div>
        <button
          type="submit"
          class="bg-phosphorGreen text-black font-bold py-2 px-4 rounded-md"
        >
          Send
        </button>
      </form>
    </div>
  </body>
</html>
