<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="global.css" />
    <title>Remote Message Display - Success</title>
  </head>
  <body class="bg-gray-100 dark:bg-gray-800">
    <div
      class="max-w-md mx-auto sm:mt-10 sm:bg-white sm:dark:bg-gray-700 p-6 sm:rounded-md sm:shadow-md"
    >
      <form action="/" method="post">
        <div class="mb-4">
          <p for="message" class="block text-gray-700 dark:text-white mb-2">
            Your message was sent.
          </p>
        </div>
        <a
          href="/"
          class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md dark:bg-blue-700 dark:hover:bg-blue-900"
        >
          Back
        </a>
      </form>
    </div>
  </body>
</html>
